<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studyspringboot.mapper.UserdetailsMapper">

    <resultMap id="BaseResultMap" type="com.example.studyspringboot.entity.Userdetails">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="fullName" column="full_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="registrationDate" column="registration_date" jdbcType="DATE"/>
            <result property="lastLoginDate" column="last_login_date" jdbcType="DATE"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="profileDescription" column="profile_description" jdbcType="VARCHAR"/>
            <result property="accountExpiryDate" column="account_expiry_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,age,
        full_name,email,registration_date,
        last_login_date,phone_number,profile_description,
        account_expiry_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from UserDetails
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from UserDetails
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.studyspringboot.entity.Userdetails" useGeneratedKeys="true">
        insert into UserDetails
        ( id,user_id,age
        ,full_name,email,registration_date
        ,last_login_date,phone_number,profile_description
        ,account_expiry_date)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{age,jdbcType=INTEGER}
        ,#{fullName,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{registrationDate,jdbcType=DATE}
        ,#{lastLoginDate,jdbcType=DATE},#{phoneNumber,jdbcType=VARCHAR},#{profileDescription,jdbcType=VARCHAR}
        ,#{accountExpiryDate,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.studyspringboot.entity.Userdetails" useGeneratedKeys="true">
        insert into UserDetails
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="age != null">age,</if>
                <if test="fullName != null">full_name,</if>
                <if test="email != null">email,</if>
                <if test="registrationDate != null">registration_date,</if>
                <if test="lastLoginDate != null">last_login_date,</if>
                <if test="phoneNumber != null">phone_number,</if>
                <if test="profileDescription != null">profile_description,</if>
                <if test="accountExpiryDate != null">account_expiry_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="age != null">#{age,jdbcType=INTEGER},</if>
                <if test="fullName != null">#{fullName,jdbcType=VARCHAR},</if>
                <if test="email != null">#{email,jdbcType=VARCHAR},</if>
                <if test="registrationDate != null">#{registrationDate,jdbcType=DATE},</if>
                <if test="lastLoginDate != null">#{lastLoginDate,jdbcType=DATE},</if>
                <if test="phoneNumber != null">#{phoneNumber,jdbcType=VARCHAR},</if>
                <if test="profileDescription != null">#{profileDescription,jdbcType=VARCHAR},</if>
                <if test="accountExpiryDate != null">#{accountExpiryDate,jdbcType=DATE},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.studyspringboot.entity.Userdetails">
        update UserDetails
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="age != null">
                    age = #{age,jdbcType=INTEGER},
                </if>
                <if test="fullName != null">
                    full_name = #{fullName,jdbcType=VARCHAR},
                </if>
                <if test="email != null">
                    email = #{email,jdbcType=VARCHAR},
                </if>
                <if test="registrationDate != null">
                    registration_date = #{registrationDate,jdbcType=DATE},
                </if>
                <if test="lastLoginDate != null">
                    last_login_date = #{lastLoginDate,jdbcType=DATE},
                </if>
                <if test="phoneNumber != null">
                    phone_number = #{phoneNumber,jdbcType=VARCHAR},
                </if>
                <if test="profileDescription != null">
                    profile_description = #{profileDescription,jdbcType=VARCHAR},
                </if>
                <if test="accountExpiryDate != null">
                    account_expiry_date = #{accountExpiryDate,jdbcType=DATE},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.studyspringboot.entity.Userdetails">
        update UserDetails
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            age =  #{age,jdbcType=INTEGER},
            full_name =  #{fullName,jdbcType=VARCHAR},
            email =  #{email,jdbcType=VARCHAR},
            registration_date =  #{registrationDate,jdbcType=DATE},
            last_login_date =  #{lastLoginDate,jdbcType=DATE},
            phone_number =  #{phoneNumber,jdbcType=VARCHAR},
            profile_description =  #{profileDescription,jdbcType=VARCHAR},
            account_expiry_date =  #{accountExpiryDate,jdbcType=DATE}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
