<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 为对应接口的全路径 -->
<mapper namespace="com.example.studyspringboot.dao.UserInfoMapper">

    <!--id为对应的方法名-->
    <select id="selectAll" resultType="com.example.studyspringboot.entity.UserInfo">
        select * from user_info
    </select>

    <select id="selectByName" resultType="com.example.studyspringboot.entity.UserInfo">
        select * from user_info where user_name = #{name};
    </select>

    <insert id="insertUser" parameterType="com.example.studyspringboot.entity.UserInfo">
        INSERT INTO user_info (user_name,name,pwd,create_time,update_time) VALUES
        (#{user_name},#{name},#{pwd},Now(),Now());
    </insert>

    <delete id="deleteUserById">
        delete from user_info where id = #{id};
    </delete>

    <update id="updateUserById" parameterType="com.example.studyspringboot.entity.UserInfo">
        update user_info set user_name= #{user_name},name=#{name},pwd=#{pwd},update_time=Now() where id = #{id};
    </update>
</mapper>